<% if all_hosts.length == 0 %>
  NO HOST DATA
<% else %>
  <b>DEVICE DATA</b>
  <table border=1>
    <tr>
      <th>Host</th>
      <th>Reported</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Speed</th>
      <th>UpTime</th>
      <th>FreeMem</th>
      <th>HasGPS</th>
      <th>Actions</th>
    </tr>
    <% all_hosts.each do |host, data| %>
      <tr>
        <td><%= host %></td>
        <td><%= pst data["time"] %></td>
        <td><%= data["lat"].to_s[0..6] %></td>
        <td><%= data["lon"].to_s[0..8] %></td>
        <td><%= data["speed"] %></td>
        <td><%= data["uptime"] %></td>
        <td><%= freemem data["freemem"] %></td>
        <td><%= has_gps data["hasGps"] %></td>
        <td><%= maplink(data) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
