<style>
  #tracks { float: left;  text-align: left; width: 200px; }
  #map    { height: 400px; border: 1px solid black; }
</style>

Tracks for <%= @hostname %>

<div>
  <div id="tracks">
    <% @tracks.each do |track| %>
      <a href="/tracks/<%= @hostname %>/<%= track %>"><%= track %></a><br/>
    <% end %>
  </div>
  <div id="map"></div>
</div>

<script>
<% if @coords.nil? %>
  var map = L.map('map');
  var gpx = "<%= @gpx %>";
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
  new L.GPX(gpx, {async: true}).on('loaded', function(e) {
    map.fitBounds(e.target.getBounds());
  }).addTo(map);
<% else %>
  var map = L.map('map').setView(<%= @coords %>, 13);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
  L.marker(<%= @coords %>).addTo(map).openPopup();
<% end %>
</script>
